:root {
	--org-primary-color: #CC0000;
	--org-black1: #1e2022;
	--org-green1: #00823b;
	--org-gray1: #636363;
}


header {
	background-color: var(--org-primary-color);
	color: white;
	padding: 9px 0 3px 36px;
	height: 70px;
	position: relative;
}

header img.logo {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.cd-intro-content {
	background-color: white;
}

.mask-2.cd-intro-content .content-wrapper::before {
	background-color: var(--org-primary-color);
}

.content-wrapper h1 {
	font-weight: bold;
	color: var(--org-black1);
}

.loader {
	width: 30px;
	aspect-ratio: .75;
	--c: no-repeat linear-gradient(var(--org-primary-color) 0 0);
	background:
		var(--c) 0% 50%,
		var(--c) 50% 50%,
		var(--c) 100% 50%;
	animation: l7 1s infinite linear alternate;
}

@keyframes l7 {
	0% {
		background-size: 20% 50%, 20% 50%, 20% 50%
	}

	20% {
		background-size: 20% 20%, 20% 50%, 20% 50%
	}

	40% {
		background-size: 20% 100%, 20% 20%, 20% 50%
	}

	60% {
		background-size: 20% 50%, 20% 100%, 20% 20%
	}

	80% {
		background-size: 20% 50%, 20% 50%, 20% 100%
	}

	100% {
		background-size: 20% 50%, 20% 50%, 20% 50%
	}
}

.fadeIn-4 {
	animation: fadeIn 4s;
}

.fadeIn-8 {
	animation: fadeIn 8s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.quote {
	text-align: left;
	line-height: 1.6em;
	font-weight: bold;
	font-size: 22px;
	margin: 10px 40px;
}

blockquote {
	color: var(--org-green1);
}

cite {
	color: var(--org-gray1);
}

.soundcloud-wrapper {
	margin: 80px 0;
}